{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Home{% endblock title%}
{% block content %}
<h1>Homepage</h1>
<img class="bookcover" src="{% static 'images/djangoforprofessionals.jpg' %}"><br/>
{% if user.is_authenticated %}
    Hi {{ user.email }}
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <div>
        <a href="{% url 'account_login' %}">Log In</a>
    </div>
    <div>
        <a href="{% provider_login_url 'github' %}">Sign Up with Github</a>
    </div>
    <div>
        <a href="{% url 'account_signup' %}">Sign Up with email</a>
    </div>
{% endif %}
{% endblock content%}